<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="harshbarash.github.monetaandroid">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="harshbarash.github.moneta.FollowerActivity" />
        <activity
            android:name="harshbarash.github.moneta.UpdatePhoto"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="harshbarash.github.moneta.SendImage"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="harshbarash.github.moneta.MessageActivity" />
        <activity
            android:name="harshbarash.github.moneta.YourCoins"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="harshbarash.github.moneta.Related"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="harshbarash.github.moneta.RequestShow"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="harshbarash.github.moneta.CoinsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity android:name="harshbarash.github.moneta.ClassifierActivity"/>
        <activity android:name="harshbarash.github.moneta.CollectionActivity" />
        <activity
            android:name="harshbarash.github.moneta.DefineActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="harshbarash.github.moneta.ImageActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="harshbarash.github.moneta.PrivacyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="harshbarash.github.moneta.UpdateProfile"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="harshbarash.github.moneta.CreateProfile"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="harshbarash.github.moneta.MainActivity" />
        <activity
            android:name="harshbarash.github.moneta.RegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="harshbarash.github.moneta.ShowUser"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="harshbarash.github.moneta.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="harshbarash.github.moneta.Splashscreen"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:authorities="harshbarash.github.moneta"
            android:name="harshbarash.github.moneta.Provider"
            android:exported="false"/>
    </application>

</manifest>